# Database
DATABASE_URL=""

# Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# Google Generative AI
GOOGLE_GENERATIVE_AI_API_KEY=""

# Sentry
SENTRY_AUTH_TOKEN=""

# Polar
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL="http://localhost:3000"